<!-- _Links.cshtml -->
@model string
<!-- Create partial below -->
@if (ViewData["Title"] == "Home")
{
    <a href="http://www.linkedin.com/@Model">LinkedIn Profile</a>
}
else if (ViewData["Title"] == "Projects")
{
    <a href="http://www.github.com/@Model">GitHub Profile</a>
}